In [39]:
import pandas as pd

In [40]:
file_path = r"D:\OneDrive\OneDrive - Rose-Hulman Institute of Technology\Rose-Hulman\course\MA\MA384\project\S.M.A.R.T\example_data\example_Q3_2025\2025-07-01_reduced.csv"
# file_path = r"D:\OneDrive\OneDrive - Rose-Hulman Institute of Technology\Rose-Hulman\course\MA\MA384\project\datasets\data_Q1_2022\2022-03-27.csv"
df = pd.read_csv(file_path)
df.head()

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2025-07-01,2207E60CC65A,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-07-01,2340E87B92B5,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-07-01,2340E87B97E8,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-07-01,2EGK64VX,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,4,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-07-01,2EHZAKAX,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,12,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Write all column names to a text file
with open("columns.txt", "w", encoding="utf-8") as f:
    for col in df.columns:
        f.write(col + "\n")

# The output seems like different from the pdf statement, it has far more columns

In [42]:
# eliminate normalized columns because we don't know how normalization was done
raw_cols = [col for col in df.columns if "normalized" not in col]

df_processed = df[raw_cols].copy()

df_processed.head()

,date,serial_number,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,...,smart_244_raw,smart_245_raw,smart_246_raw,smart_247_raw,smart_248_raw,smart_250_raw,smart_251_raw,smart_252_raw,smart_254_raw,smart_255_raw
0,2025-07-01,2207E60CC65A,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,...,NaN,NaN,4.373472e+10,1.184967e+09,2.031558e+09,NaN,NaN,NaN,NaN,NaN
1,2025-07-01,2340E87B92B5,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,...,NaN,NaN,1.513035e+10,1.792903e+08,4.723579e+08,NaN,NaN,NaN,NaN,NaN
2,2025-07-01,2340E87B97E8,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,...,NaN,NaN,5.634706e+09,6.771856e+07,6.036886e+07,NaN,NaN,NaN,NaN,NaN
3,2025-07-01,2EGK64VX,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,4,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-07-01,2EHZAKAX,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,12,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# delete date and serial_number columns
raw_cols = [col for col in df.columns 
            if ("normalized" not in col) 
            and (col not in ["date", "serial_number"])]

df_processed = df[raw_cols].copy()
df_processed.head()

,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,is_legacy_format,smart_1_raw,...,smart_244_raw,smart_245_raw,smart_246_raw,smart_247_raw,smart_248_raw,smart_250_raw,smart_251_raw,smart_252_raw,smart_254_raw,smart_255_raw
0,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,False,0.0,...,NaN,NaN,4.373472e+10,1.184967e+09,2.031558e+09,NaN,NaN,NaN,NaN,NaN
1,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,False,0.0,...,NaN,NaN,1.513035e+10,1.792903e+08,4.723579e+08,NaN,NaN,NaN,NaN,NaN
2,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,False,0.0,...,NaN,NaN,5.634706e+09,6.771856e+07,6.036886e+07,NaN,NaN,NaN,NaN,NaN
3,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,4,12.0,False,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,12,30.0,False,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df_processed.shape

(213459, 102)

In [45]:
cols_no_nan = df_processed.columns[df_processed.notna().all()]

print("non-nan columns:")
for col in cols_no_nan:
    print(col)

# seems not in line with the pdf statement, even for common features there are still a lot of nans

non-nan columns:
model
capacity_bytes
failure
datacenter
cluster_id
vault_id
pod_id
is_legacy_format

In [46]:
# get NaN count for each column
nan_count = df_processed.isna().sum()

# filter columns with NaN count less than 80000
cols_few_nan = nan_count[nan_count < 80000].index

print("NaN count < 80000 cols:", len(cols_few_nan))
for col in cols_few_nan:
    print(col)

# 80000 is chosen because assuming each column mean something, then it should belong to at least one model, 210000 data points here, so 80000 means at least 1/3 of the data points have value for that column
# seems only a few columns are usable, and some does not have definition in the pdf

NaN count < 80000 cols: 24
model
capacity_bytes
failure
datacenter
cluster_id
vault_id
pod_id
pod_slot_num
is_legacy_format
smart_1_raw
smart_3_raw
smart_4_raw
smart_5_raw
smart_7_raw
smart_9_raw
smart_10_raw
smart_12_raw
smart_192_raw
smart_193_raw
smart_194_raw
smart_197_raw
smart_198_raw
smart_199_raw
smart_240_raw

In [47]:
keep_cols = [
    "model", "capacity_bytes", "failure", "datacenter", "cluster_id",
    "vault_id", "pod_id", "pod_slot_num", "is_legacy_format",
    "smart_1_raw", "smart_3_raw", "smart_4_raw", "smart_5_raw",
    "smart_7_raw", "smart_9_raw", "smart_10_raw", "smart_12_raw",
    "smart_192_raw", "smart_193_raw", "smart_194_raw",
    "smart_197_raw", "smart_198_raw", "smart_199_raw", "smart_240_raw"
]

# keep only selected columns
df_processed = df_processed[keep_cols].copy()
df_processed.head()

,model,capacity_bytes,failure,datacenter,cluster_id,vault_id,pod_id,pod_slot_num,is_legacy_format,smart_1_raw,...,smart_9_raw,smart_10_raw,smart_12_raw,smart_192_raw,smart_193_raw,smart_194_raw,smart_197_raw,smart_198_raw,smart_199_raw,smart_240_raw
0,CT250MX500SSD1,250059350016,0,sac0,0,1028,13,NaN,False,0.0,...,21151.0,NaN,3.0,NaN,NaN,26.0,0.0,0.0,0.0,NaN
1,CT250MX500SSD1,250059350016,0,sac0,0,1028,14,NaN,False,0.0,...,7720.0,NaN,6.0,NaN,NaN,35.0,0.0,0.0,0.0,NaN
2,CT250MX500SSD1,250059350016,0,sac0,0,1028,2,NaN,False,0.0,...,2836.0,NaN,2.0,NaN,NaN,24.0,0.0,0.0,0.0,NaN
3,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,4,12.0,False,0.0,...,36884.0,0.0,62.0,4530.0,4530.0,18.0,0.0,0.0,0.0,NaN
4,HGST HUH728080ALE604,8001563222016,0,sac0,0,1028,12,30.0,False,0.0,...,75481.0,0.0,19.0,2989.0,2989.0,25.0,0.0,0.0,0.0,NaN

In [48]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213459 entries, 0 to 213458
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   model             213459 non-null  object
 1   capacity_bytes    213459 non-null  int64
 2   failure           213459 non-null  int64
 3   datacenter        213459 non-null  object
 4   cluster_id        213459 non-null  int64
 5   vault_id          213459 non-null  int64
 6   pod_id            213459 non-null  int64
 7   pod_slot_num      210002 non-null  float64
 8   is_legacy_format  213459 non-null  bool
 9   smart_1_raw       213112 non-null  float64
 10  smart_3_raw       210832 non-null  float64
 11  smart_4_raw       210832 non-null  float64
 12  smart_5_raw       211660 non-null  float64
 13  smart_7_raw       210832 non-null  float64
 14  smart_9_raw       213366 non-null  float64
 15  smart_10_raw      210832 non-null  float64
 16  smart_12_raw      213366 non-null  float64
 17  smart_192_raw     212538 non-null  float64
 18  smart_193_raw     210759 non-null  float64
 19  smart_194_raw     213361 non-null  float64
 20  smart_197_raw     210419 non-null  float64
 21  smart_198_raw     211406 non-null  float64
 22  smart_199_raw     211660 non-null  float64
 23  smart_240_raw     150787 non-null  float64
dtypes: bool(1), float64(16), int64(5), object(2)
memory usage: 37.7+ MB

In [49]:
# select numeric columns
num_cols = df_processed.select_dtypes(include=["int64", "float64"]).columns

# calculate statistics
stats_df = pd.DataFrame({
    "min": df_processed[num_cols].min(),
    "max": df_processed[num_cols].max(),
    "mean": df_processed[num_cols].mean(),
    "median": df_processed[num_cols].median()
})

stats_df.index.name = "column"

stats_df

                         min           max          mean        median
column
capacity_bytes  2.400574e+11  2.400028e+13  1.353511e+13  1.400052e+13
failure         0.000000e+00  1.000000e+00  2.342370e-05  0.000000e+00
cluster_id      0.000000e+00  3.100000e+01  2.007791e+00  0.000000e+00
vault_id        1.028000e+03  3.015000e+03  1.312381e+03  1.127000e+03
pod_id          0.000000e+00  1.900000e+01  9.499918e+00  1.000000e+01
pod_slot_num    0.000000e+00  5.900000e+01  2.907966e+01  2.900000e+01
smart_1_raw     0.000000e+00  4.294967e+09  5.257199e+07  0.000000e+00
smart_3_raw     0.000000e+00  1.097300e+04  2.293625e+03  2.650000e+02
smart_4_raw     0.000000e+00  2.518700e+04  1.728096e+01  1.000000e+01
smart_5_raw     0.000000e+00  6.552800e+04  6.476818e+01  0.000000e+00
smart_7_raw     0.000000e+00  1.097465e+13  5.176968e+08  0.000000e+00
smart_9_raw     0.000000e+00  1.066880e+05  3.592188e+04  3.789300e+04
smart_10_raw    0.000000e+00  2.147516e+10  1.018591e+05  0.000000e+00
smart_12_raw    0.000000e+00  1.225600e+04  1.423837e+01  1.000000e+01
smart_192_raw   0.000000e+00  2.331817e+07  7.026578e+02  7.000000e+00
smart_193_raw   1.000000e+00  2.331996e+07  9.351586e+03  1.626000e+03
smart_194_raw   1.500000e+01  5.700000e+01  3.252668e+01  3.300000e+01
smart_197_raw   0.000000e+00  1.714400e+04  1.651320e+00  0.000000e+00
smart_198_raw   0.000000e+00  1.468800e+04  1.164489e+00  0.000000e+00
smart_199_raw   0.000000e+00  1.954700e+04  6.874341e+00  0.000000e+00
smart_240_raw   0.000000e+00  1.060220e+05  2.661661e+04  2.472800e+04

In [50]:
# fill NaN with median value for each numeric column
df_filled = df_processed.copy()
df_filled = df_filled.fillna(df_filled.median(numeric_only=True))

df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213459 entries, 0 to 213458
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   model             213459 non-null  object
 1   capacity_bytes    213459 non-null  int64
 2   failure           213459 non-null  int64
 3   datacenter        213459 non-null  object
 4   cluster_id        213459 non-null  int64
 5   vault_id          213459 non-null  int64
 6   pod_id            213459 non-null  int64
 7   pod_slot_num      213459 non-null  float64
 8   is_legacy_format  213459 non-null  bool
 9   smart_1_raw       213459 non-null  float64
 10  smart_3_raw       213459 non-null  float64
 11  smart_4_raw       213459 non-null  float64
 12  smart_5_raw       213459 non-null  float64
 13  smart_7_raw       213459 non-null  float64
 14  smart_9_raw       213459 non-null  float64
 15  smart_10_raw      213459 non-null  float64
 16  smart_12_raw      213459 non-null  float64
 17  smart_192_raw     213459 non-null  float64
 18  smart_193_raw     213459 non-null  float64
 19  smart_194_raw     213459 non-null  float64
 20  smart_197_raw     213459 non-null  float64
 21  smart_198_raw     213459 non-null  float64
 22  smart_199_raw     213459 non-null  float64
 23  smart_240_raw     213459 non-null  float64
dtypes: bool(1), float64(16), int64(5), object(2)
memory usage: 37.7+ MB

In [ ]:
# define feature matrix X and target vector y
X = df_filled.drop(columns=["failure"])
y = df_filled["failure"]

In [52]:
X= pd.get_dummies(X, drop_first=True)
X.shape

(213459, 93)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

# split train/test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# max_depth=25
tree_clf = DecisionTreeClassifier(max_depth=25, random_state=42)
tree_clf.fit(X_train, y_train)

y_pred = tree_clf.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
error_rate = 1 - accuracy

print("Accuracy:", accuracy)
print("Error rate:", error_rate)

Accuracy: 0.9999531528155158
Error rate: 4.6847184484222204e-05

In [56]:
# count 0 and 1 in y
counts = y.value_counts()

print("failure = 0 counts:", counts.get(0, 0))
print("failure = 1 counts:", counts.get(1, 0))

failure = 0 counts: 213454
failure = 1 counts: 5